# Python
__pycache__/
*.pyc
.venv/
.env

# Not needed at runtime
data/artifacts/*
data/processed/*

# Keep only these runtime files:
!data/artifacts/names_lookup_min.csv
!data/processed/features_v1.csv.gz

# VS Code
.vscode/
